.addButton {
    
    position: relative;
    margin-top: 21%;
    margin-left: 54%;
}

.btnDiv {
    position: relative;
    margin-top: 21%;
    margin-left: 6%;
}

.addButton img {
    width: 21px;
    margin-right: 7px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 100%, 50%);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: .5s ease-in-out;
}

.btn:hover {
    background-color: hsl(0, 100%, 45%);
}

h1 {
    margin-left: 34vw;
    font-size: 2.3rem;
    position: relative;
    top: 34px;
}

@media (max-width: 600px) {
    .addButton{
        height: 100vh;
    }
    .btnDiv{
        margin-top: 183%;
        margin-left: -38%;
    }

    h1{
        margin-left: 18vw;
    }
}