.taskContainer {
    margin-left: 34%;
    margin-top: 3%;
}

.taskContainer {
    list-style: none;
    margin-left: 34%;
    margin-top: 4%;
    width: 50%;
}

.date {
    font-size: 1.3rem;
    font-weight: bolder;
    border-bottom: 1px solid #c4c4c4;
}

.upperDisplay p {
    margin-bottom: 0;
}

.tick {
    cursor: pointer;
}

.lowerDisplay {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 1vw;
}

.lowerDisplay p {
    font-size: 1.3rem;
}

@media (max-width: 1000px) {

    .taskContainer {
        margin-top: 6%;
    }
}

@media (max-width: 600px) {

    .taskContainer {
        margin-top: 10%;
        margin-left: 13%;
        width: 65vw;
    }
}